:root {
    --black: #000;
    --dark: #464451;
    --dark-rgb: 70, 68, 81;
    --accent: #4D70C9;
    --blue: #A1DEFF;
    --light-grey: #F5F5F5;
    --accent-gradient: linear-gradient(90deg, rgba(77, 112, 201, 1) 0%, rgba(88, 87, 191, 1) 50%, rgba(77, 112, 201, 1) 100%);
}

* {
    box-sizing: border-box;
}

/* Минимальный аккуратный скроллбар */
/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
} */

.show-temp {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 0;
    background: rgba(255, 255, 255, .4);
    padding: 10px;
    width: max-content;
    height: max-content;
    font-size: 10px;
    color: #333333;
}


.reverse {
    flex-flow: row-reverse;
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
}


h2 {
    font-size: 40px;
    color: var(--black);
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 30px;
    margin-top: 0;
}

h2.title {
    font-size: 40px;
    line-height: 120%;
    color: var(--black);
    margin: 0;
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

h4,
h5 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* 
h2.title::first-line {
    color: var(--green);
} */

h2.page-title {
    font-size: 38px;
}

.fixed-container .description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 140%;
    margin-bottom: 40px;
}

h3 {
    font-size: 32px;
    color: var(--black);
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
    margin-top: 0;
}

h4 {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
}

h1.entry-title {
    font-size: 42px;
    font-weight: 400;
    line-height: 120%;
}

.line {
    display: block;
    width: 90px;
    height: 2px;
    background: var(--black);
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    padding: 0;
    padding-bottom: 7vh;
}


.center {
    text-align: center;
}

.only-mobile {
    display: none;
}

.only-desk {
    display: block;
}

figure.bradius5,
.bradius5 {
    border-radius: 5px;
    overflow: hidden;
}

figure.bradius12,
.bradius12 {
    border-radius: 12px;
    overflow: hidden;
}

figure.bradius24,
.bradius24 {
    border-radius: 24px;
    overflow: hidden;
}

figure.bradius32,
.bradius32 {
    border-radius: 32px;
    overflow: hidden;
}

.padding7 {
    padding: 7px;
}

.padding10 {
    padding: 10px;
}


.wp-block-image {
    margin-bottom: 0;
}

.wp-block-cover {
    padding: 0;
}

.wp-block-cover__inner-container {
    padding: 40px 0;
}

:where(.wp-block-columns.has-background) {
    padding: 2em;
}

.margin-auto {
    margin-right: auto;
    margin-left: auto;
}

.padding0 {
    padding: 0;
}

.padding20 {
    padding: 20px;
}

.reverse {
    flex-direction: column-reverse;
}

.reverse__mob {
    flex-direction: inherit;
}

figure.icon {
    width: 40px;
    height: 40px;
}

figure.icom img {
    width: 100%;
    height: 100%;
}

/*CONTAINER */

.fixed-container {
    width: 1600px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
}

@media (max-width: 1600px) {
    .fixed-container {
        width: 1400px;
        padding: 0 30px;
    }
}

@media (max-width: 1400px) {
    .fixed-container {
        width: 100%;
        padding: 0 30px;
    }
}

/*GUTEN*/

.m0 {
    margin: 0;

}

.mt0 {
    margin-top: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.padding20 {
    padding: 20px;
}

.wp-block-image {
    margin: 0;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

:where(.wp-block-columns) {
    margin-bottom: 0;
}


.wp-block-media-text[style*="--media-text-media-width"] .wp-block-media-text__media {
    flex: 0 0 var(--media-text-media-width);
    max-width: var(--media-text-media-width);
}

.wp-block-media-text[style*="--media-text-media-width"] {
    grid-template-columns: max-content 1fr !important;
    gap: 10px !important;
}

.wp-block-media-text>.wp-block-media-text__content {
    padding: 0;
}

.wp-block-quote {
    background: var(--light-grey);
    padding: 20px;
    border-radius: 0 5px 5px 0;
    border-left: 2px solid var(--accent);
    margin: 20px 0;
}

:root :where(.wp-block-separator.is-style-dots)::before {
    color: currentColor;
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px dotted #000;
    display: block;
}

.wp-block-separator.is-style-dots {
    background: none !important;
    border: none !important;
    position: relative;
    box-sizing: border-box;
}

.wp-block-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
}

.gap0 {
    gap: 0 !important;
}

.gap10 {
    gap: 10px !important;
}

.wp-block-list li {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: 15px 1fr;
    align-items: center;
    padding-bottom: 20px;
}

.wp-block-list li::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: var(--accent);
    display: block;
    transform: rotate(45deg);
}

.wp-block-list li::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--light-grey);
    position: absolute;
    bottom: 0;
    left: 0;
}

.wp-block-media-text__content p {
    margin: 0;
}

.bradius3 {
    border-radius: 3px;
    overflow: hidden;
}


/*HERO SLIDER*/

.hero-section {
    position: relative;
    padding: 0;
    height: 90vh;
}

.swiper.hero-slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero-slide-content::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.wp-block-group.hero-slider__slide.swiper-slide {
    position: relative;

}

.wp-block-group.hero-slider__slide__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 7;
    padding-bottom: 80px;
    padding-top: 170px;
}

.wp-block-group.hero-slider__slide__content::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.wp-block-group.hero-slider__slide__content .wp-block-columns {
    z-index: 10;
}

.hero-slider__slide.swiper-slide figure {
    width: 100%;
    height: 100%;
}

.hero-slider__slide.swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-pagination {
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 0 30px;
    height: auto;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.hero-slider.swiper .swiper-wrapper .slider-pagination {
    position: absolute;
    justify-content: flex-end;
    bottom: 20px;
    top: unset;
    left: unset;
}

.slider-pagination span.swiper-pagination-bullet-active,
.swiper-pagination span.swiper-pagination-bullet-active {
    background: var(--accent);
}

.slider-pagination span,
.swiper-pagination span {
    background: var(--blue);
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    cursor: pointer;
    transition: all .5s linear;
}

.slider-section {
    overflow: hidden;
}

/*3 slider*/

.wp-block-columns.three-slides-slider {
    display: flex;
    flex-direction: column;
}

.wp-block-columns.three-slides-slider .swiper-wrapper {
    min-height: 480px;
    height: 480px;
    flex-basis: unset !important;
}

.wp-block-group.three-slides-slider__slide figure {
    height: 100%;
}

.wp-block-group.three-slides-slider__slide {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.three-slides-slider__slide>.wp-block-group {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(7deg, rgba(31, 31, 31, 0.8) 0%, rgba(31, 31, 31, 0) 100%);
}

.wp-block-image.three-slides-slider__slide__image figcaption {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.wp-block-group.three-slides-slider__slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.three-slides-slider__slide.review-slide ul li {
    padding-bottom: 0;
    font-size: 12px;
}

.three-slides-slider__slide.review-slide ul {
    margin-bottom: 20px;
}

/*4 slider*/

.four-slides-slider .swiper-wrapper {
    /* min-height: 420px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    overflow: hidden; */
    width: 100%;
}

.swiper.four-slides-slider .wp-block.swiper-wrapper .four-slides-slider__slide {
    height: 100%ж
}

.wp-block-columns.four-slides-slider {
    flex-direction: column;
    gap: 20px;
}

/* 
.wp-block-group.four-slides-slider__slide.swiper-slide {
    width: calc(50% - 20px) !important;
} */

.wp-block-group.four-slides-slider__slide {
    overflow-y: scroll;
    border-radius: 5px;
    height: 420px;
}

/* .four-slides-slider__slide figure {
    max-height: 200px;
} */

.wp-block-group.four-slides-slider__slide.swiper-slide figure {
    width: 100%;
    height: 100%;
}

.wp-block-group.four-slides-slider__slide.swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*TWO SLIDER */

.wp-block-columns.two-slides-slider {
    flex-direction: column;
    gap: 40px;
}

.wp-block-columns.two-slides-slider .swiper-wrapper {
    height: 60vh;
}

.wp-block-columns.two-slides-slider .swiper-wrapper .two-slides-slider__slide {
    height: 100%;
}

.wp-block-columns.two-slides-slider .swiper-wrapper .two-slides-slider__slide figure {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.wp-block-columns.two-slides-slider .swiper-wrapper .two-slides-slider__slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wp-block-group.two-slides-slider__slide {
    position: relative;
}

.wp-block-group.two-slides-slider__slide__content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    padding: 20px;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    width: 100%;
}

.wp-block-columns.two-slides-slider,
.wp-block-columns.four-slides-slider {
    position: relative;
}

.slider__button-next,
.slider__button-prev {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: rgba(var(--dark-rgb), .9);
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
    padding: 10px;
}

.slider__button-next {
    right: 10px;
}

.slider__button-prev {
    left: 10px;
}


.slider__button-next svg,
.slider__button-prev svg {
    width: 100%;
    height: 100%;
}

.nums .wp-block-column .wp-block-media-text figure {
    max-width: 80px;
    max-height: 80px;
}


li.contacts-list__item span ul {
    list-style: none;
}

footer.site-footer {
    background: #313131;
    padding-top: 30px;
    padding-bottom: 70px;
}

.footer-columns {
    display: grid;
    grid-template-columns: 33% 1fr 1fr max-content;
    gap: 40px;
    padding-bottom: 40px;
}

.footer-columns a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    transition: all .4s linear;
}

.footer-col-bottom {
    padding-top: 30px;
    border-top: 1px dotted var(--blue);
}

.footer-columns a:hover {
    color: var(--light-accent);
}

.footer-col h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.widget div .menu {
    flex-direction: column;
    text-align: left;
    display: block;
}

.widget div .menu li a {
    width: auto;
    padding: 0;
    display: block;
    text-align: left;
    border: none;
    transition: all .5s linear;
}

.widget div .menu li a:hover {
    color: var(--blue);
    background: transparent;
}

.footer-col .contacts-list {
    flex-direction: column;
}

.footer-columns p {
    margin: 0;
}

.footer-columns__first p {
    font-size: 12px;
    color: #cacaca;
}

.footer-columns__first__info {
    font-size: 12px;
    color: #cacaca;
}

.footer-columns__first__info a {
    text-decoration: underline;
    font-size: 12px;
}

.arrow-up {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
    background: var(--black);
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 900;
    cursor: pointer;
    transition: all .5s linear;
}


.arrow-up svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.arrow-up.show {
    display: flex;
    opacity: .7;
}

.arrow-up.show:hover {
    opacity: 1;
    transform: scale(1.05);
}

.phone-link span {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
}

.footer-columns__first {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 230px;
}

.footer-columns__first .custom-logo-link {
    width: 230px;
    height: 45px;
    display: block;
}

.footer-columns__first .custom-logo-link img {
    width: 100%;
    height: 100%;
}

.footer__contacts .top-header__links {
    flex-direction: column;
    font-size: 14px;
    align-items: flex-end;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.footer__contacts .top-header__links a {
    font-size: 14px;
}

.footer-phone p {
    font-size: 12px;
    text-transform: uppercase;
}

.footer-description {
    font-size: 14px;
}

.footer-col h3 {
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}

.footer-col h3::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-col .widget {
    margin-bottom: 0;
}

/* 
.footer-columns>div:last-child a {
	line-height: 1;
	text-decoration: underline;
	font-size: 14px;
} */

.footer-columns>div:last-child .widget.widget_block:last-child {
    font-size: 14px;
}


@media (max-width: 1024px) {
    .header-main .fixed-container .contacts-list {
        display: none;
    }

    .header-nav .contacts-list {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
        background: none;
    }

    .footer-col ul li a {
        font-size: 14px;
    }

    .site-footer {
        background: var(--black);
    }

    .footer-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
}

@media (max-width: 992px) {

    .wp-block-columns.three-slides-slider {
        overflow: visible;
    }


    /* .wp-block-columns.is-layout-flex.wp-block-columns-is-layout-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .wp-block-columns.is-layout-flex.wp-block-columns-is-layout-flex .wp-block-column .wp-block-columns {
        width: 100%;
        display: block;
    } */
    /* :where(.wp-block-columns.is-layout-flex) {
        gap: 1em;
    } */
}

@media (max-width: 781px) {
    .reverse__mob {
        flex-direction: column-reverse;
    }


}

@media (max-width: 768px) {

    .fixed-container {
        padding: 0 10px;
    }

    .wp-block-group.grid-3-items {
        grid-template-columns: repeat(2, 1fr);

    }

    .wp-block-columns.two-slides-slider,
    .wp-block-columns.four-slides-slider {
        overflow: visible;
    }

    .wp-block-media-text.alignwide.is-stacked-on-mobile.is-vertically-aligned-center {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* .footer-col.contacts-col {
        order: 2;
    }

    .footer-col {
        order: 3;
    } */

    .slider__button-prev {
        left: 5px;
    }

    .slider__button-next {
        right: 5px;
    }

    .footer-columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-columns__first {
        align-items: center;
    }

    .footer__contacts {
        align-items: center;
    }

    .footer__contacts .top-header__links a,
    .footer__contacts .top-header__links .top-header__link {
        flex-direction: column;
        width: 100%;
    }

    .footer-col h3 {
        font-size: 28px;
        text-align: center;
    }

    .footer-col div div ul li a {
        text-align: center;
        display: block;
    }

    .widget div .menu li a {
        text-align: center;
    }

    .footer-col h3::after {
        width: 200px;
        height: 1px;
        left: calc(50% - 100px);
        bottom: 0;
    }

    .footer-col .contacts-list {
        flex-direction: column;
        align-items: center;
    }

    .footer-col ul .contacts-list__item {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .footer-columns__first {
        max-width: 100%;
    }


}

@media (max-width: 576px) {
    h1 {
        font-size: 36px;
    }

    .spacer-mob-hidden {
        height: 2em !important;
    }
}

@media (max-width: 480px) {
    /* .wp-block-columns.is-layout-flex.wp-block-columns-is-layout-flex {
        grid-template-columns: repeat(1, 1fr);
    } */

    .wp-block-group.grid-3-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .wp-block-buttons {
        width: 100%;
    }

    .wp-block-buttons .wp-block-button {
        width: 100%;
    }
}

.vk-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16 / 9 = 0.5625 */
    height: 0;
}

.vk-video iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}