.has-black-color { 
	color: #000;
}
.has-black-background-color {
	background-color: #000000; 
}

.has-dark-color { 
	color: #464451;
}
.has-dark-background-color {
	background-color: #464451; 
}


.has-accent-color { 
	color: #4d70c9;
}
.has-accent-background-color {
	background-color: #4d70c9; 
}

.has-light-blue-color { 
	color: #A1DEFF;
}
.has-light-blue-background-color {
	background-color: #A1DEFF; 
}

.has-light-grey-color { 
	color: #f5f5f5;
}
.has-light-grey-background-color {
	background-color: #f5f5f5; 
}

